@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Oswald');

body {
  margin: 0;
  background-color: #E5E5E5;
  line-height: 24px;
  font: normal 16px 'Source Sans Pro', sans-serif, Arial;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2 {
  font-family: Oswald, Arial, sans-serif;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  font-family: 'Oswald', sans-serif;
}

::placeholder {
  color: white;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  padding-left: 20px;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
